.CMP_crm {
    text-align:center;
    color: rgb(153, 153, 153);
  }

.header_crm {
    text-align:center;
    color: rgb(153, 153, 153);

  }

.table_header_crm {
    background: rgb(153, 153, 153);
    color: white;
}