

.header_crm {
    text-align:left;
    color: rgb(153, 153, 153);
    font-size: 50px;
  }

.table_header_crm {
    background: rgb(153, 153, 153);
    color: white;
}

.crm-search {
    margin-bottom: 15px;
    width: 163px;
    height: 25px;
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left
    /* margin-left: 0%; */
}

.input-box {
    max-width: 300px;
    margin-bottom: 10px;
}

.search-button {
    margin-left: 0px;
    background-color: rgb(18, 77, 136);
    padding: 6px 50px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.search-button:hover {
    background-color: rgba(255, 153, 0, 1);
    color: white;
    cursor: pointer;
  }