html {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body tr:nth-child(even){
  background-color: #F1F1F1;
}
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd; 
  }

  .header {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 100px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
