body tr:nth-child(even){
  background-color: #F1F1F1;
}
  
#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 90%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  margin-left: 5vw;
  overflow: scroll;

}

#myTable th, #myTable td {
  text-align: center; /* Left-align text */
  padding: 5px; /* Add padding */
  border-left: solid 1px #ddd;
}

#myTable tr {
  border-bottom: 1px solid #ddd; 
}

#myTable td {
  color: #000;
}

.header {
  font-size: 70px;
  margin-bottom: -15px;
  margin-top: 240px;
  margin-top: 320px;
  font-weight: 400;
}

h3 {
  display: inline-block;
  font-size: 28px;
  line-height: 50px;
  font-weight: 300;
}

.second-header {
  font-weight: 300;
  font-size: 30px
}

.center {
  text-align: center;
  margin-top: -90px
}

.leads {
  color: #0066CC;
}

.leads-back {
  background-color: #0066CC;
  color: #fff;
}

.lodgements {
  color: #66CCCC;;
}

.lodgements-back {
  background-color: #66CCCC;;
  color: #fff;
}

.approvals {
  color: #F19D38;
}

.approvals-back {
  background-color: #F19D38;
  color: #fff;
}

.settlements {
  color: #43963F;
}

.settlements-back {
  background-color: #43963F;
  color: #fff;
}

.mySlides {
  display:inline;
  position:relative;
  top:0px;
  z-index: -999;
}

/* Dashboard Refresh Cycle Animation */
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  .mySlides {
    z-index: -999;
  }

  .customerMO:hover {
    color:orange;
    text-decoration: underline;
  }

  .customerMO {
    color:black;
  }


