body tr:nth-child(even){
  background-color: #F1F1F1;
}
  
#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 90%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  margin-left: 5vw;

}

#myTable th, #myTable td {
  text-align: center; /* Left-align text */
  padding: 5px; /* Add padding */
  border-left: solid 1px #ddd;
}

#myTable tr {
  border-bottom: 1px solid #ddd; 
}

.header {
  font-size: 70px;
  margin-bottom: -15px;
  margin-top: 30vh;
  margin-top: 320px;
  font-weight: 400;
}

h3 {
  display: inline-block;
  font-size: 28px;
  line-height: 50px;
  font-weight: 300;
}

.second-header {
  font-weight: 300;
  font-size: 30px
}


/* th {
  border-left: solid 1px #ddd;
} */

