.CMP_lodgements {
    text-align:center;
    color: #66CCCC;
  }

.header_lodgements {
    text-align:center;
    color: #66CCCC;
  }

.table_header_lodgements {
    background:#66CCCC;
    color: white;
}