html {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
  }
  
  /* .main-grd {
      grid-row: 1fr 1fr 1fr;
      grid-column: 1fr 1fr 1fr
  } */

  .top-rectangle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #0e0e0e;
    width: 100vw;
    height: 350px;
    position: fixed;
    top: 0;
    z-index: 40;
  }

  .logInput {
    width: 400px;
    }

  .LoginPage {
    margin-top: 370px;
    align-content: center;
    font-size: 20px;
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2;
  }
  
  .LoginHeader {
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 35px;
   color: grey;
   text-align: center;
   font-weight: 300;
   grid-column: 2;
   z-index: 100;
  }

  .loginInput {
      margin-top: 50%;
      grid-column: 2
  }

  .loginbutton{
    background-color: rgb(18, 77, 136);
    padding: 6px 50px;
    color:white;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    width: 505px;
    margin-bottom: 10px;
    grid-column: 2;
  }
  .loginbutton:hover {
    background-color: rgba(255, 153, 0, 1);
    color: white;
    cursor: pointer;
  }

  .passwordForgot {
      font-size: 15px;
      text-align: center;
      margin-bottom: 50px;
  }

  .logo-box {
    grid-column: 1;
    grid-row: 1 / 3;
    /* border: thick solid yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
  }
  
  .logo-text {
      text-align: center;
      font-size: 40px;
      display: inline-flex;
      grid-row: 2;
      grid-column: 2;
      padding-top: 30px
  }

  .captureplus {
      color: #f37021;
      font-weight: 300;
      padding-top: 35px
  }

  .mortgage {
      color: #fff;
      font-weight: 300;
      padding-top: 35px
  }

  .logo-img {
    width: 200px;
    /* height: 140px; */
    grid-row: 2;
    grid-column: 2
  }

  .crmSys {
      grid-column: 2;
      grid-row: 3;
      text-align: center;
      font-weight: 300
  }