* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.form{
  text-align: left;
  font-size: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  color: grey;

}

.button{
  align-items: right;

}
.savebutton{
  margin-left: 20px;
  background-color: rgb(18, 77, 136);
  padding: 6px 70px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.savebutton:hover {
  background-color: rgb(13, 114, 13); /* Green */
  color: white;
}

.cancelbutton{
  background-color: rgb(18, 77, 136);
  padding: 6px 70px;
  color:white;
  font-size: 20px;
  border-radius: 10px;
}
.cancelbutton:hover {
  background-color: rgb(145, 37, 37); /* Green */
  color: white;
}

input {
  max-width: 500px;
}

.inputbox{
  display: flex;
  /* padding-left: 100px; */
  width:500px;
  height: 20px;
  font-size: 16px;
  text-align: left;
=======
body {
  background: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
>>>>>>> 619745735d04549ad247386806956701b753bfc2
}


.body {
  margin:0; 
  padding:0; 
  background:#efefef;
  text-align:center; /* used to center div in IE */
}
.wrapper {
  width:600px; 
  margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
  background:#fff; 
  text-align:left; /*resets text alignment from body tag */
  border:1px solid #ccc;
  border-top:none; 
  padding:25px; 
  /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
  border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; 
  box-shadow:0 0 5px #ccc;
  -moz-box-shadow:0 0 5px #ccc;
  -webkit-box-shadow:0 0 5px #ccc;
}

.lightbox {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj227XtooXgAhUHeisKHX4EAIwQjRx6BAgBEAU&url=https%3A%2F%2Fya-webdesign.com%2Fexplore%2Fblack-overlay-png%2F&psig=AOvVaw3Uk1BftyFU3cqIyNmvbSIY&ust=1548379923705239") repeat; 
  text-align:center;
}
