.nav-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 2fr 0.5fr 4fr;
  background-color: #0e0e0e;
  width: 100vw;
  height: 250px;
  position: fixed;
  top: 0;
  z-index: 10;
  /* border: thick solid blue; */
}

/*===================================================================*/
/* Logo CSS */

.logo-box {
  grid-column: 1;
  grid-row: 1 / 3;
  /* border: thick solid yellow; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
}

.logo-box .logo-img-box {
  grid-column: 1;
  grid-row: 1 / 3;
  /* border: thick solid pink; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding-left: 15px;
}

.logo-img-box img {
  width: 120px;
  height: 80px
}

.logo-box .logo-text {
  grid-column: 2;
  grid-row: 1 / 2;
  /* border: thick solid purple; */
  display: flex;
  align-items: flex-end;


}

.logo-box .logo-subtext {
  grid-column: 2;
  grid-row: 2/ 3;
  /* border: thick solid white; */
  color: #fff;
  font-weight: 100;
}

.logo-box .white {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}

.logo-box .orange {
  color: #f37021;
  font-size: 35px;
  font-weight: 300;
}

.logo-box .small {
  font-size: 18px;
  font-weight: 300;
}

/*===================================================================*/
/* Navbar Links CSS */

.nav-box {
  grid-column: 2;
  grid-row: 1;
  /* border: thick solid lightsalmon; */
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.navbar a {
  text-align: right;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 13px
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  text-align: center;
  padding: 30px 10px;
}

.nav-box a:hover,
.dropdown:hover .dropbtn {
  color: #f37021;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*===================================================================*/
/* Overview Table CSS */

.nav-table {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  /* border: thick solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-table table {
  width: 800px;
  height: 120px;
  text-align: center;
  font-size: 17px;
  
}

.nav-table td {
  background-color: #0e0e0e;
  width: 140px;
}

.nav-table .firstcolumn {
  text-align: left;
  text-transform: uppercase;
}

.table-header {
  font-size: 12px;
  font-weight: lighter;
}